.presentation__ {

  &background {
    background: url("../../../../global/images/presentationImg/background.jpeg");
    background-size: cover;
    height: 100vh;
  }

  &container {
    padding: 60px 80px 135px;
  }

  &header {
    display: flex;
    justify-content: space-between;
  }

  &header-logo {
    cursor: pointer;
  }

  &header-links {
    display: flex;
    margin-top: 6px;
  }

  &header-link {
    font-size: 20px;
    font-weight: 500;
    padding-left: 35px;
    cursor: pointer;
  }

  &grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
  }

  &info-block {
    grid-column: 2/2;
    margin: auto auto 135px 163px;
  }

  &title {
    max-width: 400px;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 16px;
  }

  &description {
    font-size: 20px;
    line-height: 32px;
  }

  &link-img {
    width: 30px;
    height: 30px;
  }
}