.slider {
  button > i {
    border: solid #e5e5e5;
    border-width: 0 5px 5px 0;
    opacity: 0.5;
  }

  ul > li {
    display: flex;
    justify-content: center;
  }

  &__partner-logo {
    width: 100px;

    img {
      margin-left: 50px;
      opacity: 0.8;
    }
  }
}