.path-line {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: line;
  animation-duration: 1.5s;
  stroke-dashoffset: 500;
  stroke-dasharray: 500;
}

@keyframes line {
  100% {
    stroke-dashoffset: 1;
  }
}