.product__ {
  &container {
    margin-bottom: 113px;
  }

  &info {
    color: #ffff;
    font-weight: 95;
    font-size: 20px;
    line-height: 32px;
    margin-top: 33px;
    margin-right: 92px;
  }
}

.thirdLogoClassName {
  padding-top: 24px;
}

.thirdInfoClassName {
  margin-top: 10px;
}