.get-started__ {

  &main-background {
    padding: 64px 0;
    background-image: url("../../../../global/images/getStartedImg/main-background.svg");
    background-size: cover;
  }

  &background {
    padding: 214px 0;
    background-image: url("../../../../global/images/getStartedImg/background.svg");
    background-size: cover;
  }

  &blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &block-one {
    z-index: 9999;
    position: relative;
  }

  &block-two {
    z-index: -1;
    margin-top: -370px;
    margin-left: 120px;
  }

  &block-three {
    z-index: 0;
    margin-top: -465px;
    margin-left: 60px;
  }
}

